@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: #111111;
  background: #ffffff;
}

i > svg {
  width: 3rem;
  height: 3rem;
  background: rgb(220 38 38 / 1);
  border-radius: 0.35rem;
  padding:.75rem;
}

@media (max-width: 768px){
  i > svg {
    width: 2rem;
    height: 2rem;
    padding: .5rem;
  }
}

#hero {
  background-color: #323232; 
  background-position: center; 
  background-repeat: no-repeat; 
  background-size: cover; 
  background-blend-mode: soft-light;
}

.mobius-floating-div {
  width: 100%;
    height: 360%;
    flex-direction: row;
    display: block;
    position: absolute;
    top: 0%;
    bottom: 0%;
    left: 0%;
    right: 0%;
    overflow: hidden;
    height: auto;
}

.mobius-floating-div img {
  will-change: transform;
  transform: translate3d(-500px, 0px, 0px) 
             scale3d(1, 1, 1) 
             rotateX(0deg) 
             rotateY(0deg) 
             rotateZ(32.9974deg) 
             skew(0deg, 0deg);
  transform-style: preserve-3d;
  top: 0px;
  left: 0px;
  width: 100%;
  opacity: 0.8;
  max-width: none;
  position: absolute;
  bottom: auto;
  right: auto;
  overflow: visible;
}