@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
      display: none;
  }
  .no-scrollbar {
      -ms-overflow-style: none;
      scrollbar-width: none; 
}
}

body {
  color: #111111;
  background: #ffffff;
}

i > svg {
  width: 3rem;
  height: 3rem;
  background: rgb(220 38 38 / 1);
  border-radius: 0.35rem;
  padding:.75rem;
}

@media (max-width: 768px){
  i > svg {
    width: 2rem;
    height: 2rem;
    padding: .5rem;
  }
}

#hero {
  background-color: #323232; 
  background-position: center; 
  background-repeat: no-repeat; 
  background-size: cover; 
  background-blend-mode: soft-light;
}

.mobius-floating-div {
  width: 100%;
    height: 360%;
    flex-direction: row;
    display: block;
    position: absolute;
    top: 0%;
    bottom: 0%;
    left: 0%;
    right: 0%;
    overflow: hidden;
    height: auto;
}

.mobius-floating-div img {
  will-change: transform;
  transform: translate3d(-500px, 0px, 0px) 
             scale3d(1, 1, 1) 
             rotateX(0deg) 
             rotateY(0deg) 
             rotateZ(32.9974deg) 
             skew(0deg, 0deg);
  transform-style: preserve-3d;
  top: 0px;
  left: 0px;
  opacity: 0.8;
  max-width: none;
  position: absolute;
  bottom: auto;
  right: auto;
  overflow: visible;
}

.filter {
 filter: drop-shadow(5px 0px 2px #200052) drop-shadow(5px 0px 0px rgb(131 110 249 / 30%)) drop-shadow(0px 0px 5px rgb(131 110 249 / 70%));
}

.clip {
  clip-path: polygon( 50% 0%,50% 0%,45.091% 1.01%,39.255% 3.814%,32.832% 8.071%,26.162% 13.441%,19.585% 19.585%,13.442% 26.162%,8.071% 32.832%,3.814% 39.255%,1.01% 45.091%,0% 50%,0% 50%,1.01% 54.909%,3.814% 60.745%,8.071% 67.168%,13.442% 73.838%,19.585% 80.415%,26.162% 86.558%,32.832% 91.929%,39.255% 96.186%,45.091% 98.99%,50% 100%,50% 100%,54.908% 98.99%,60.744% 96.186%,67.167% 91.929%,73.837% 86.558%,80.414% 80.414%,86.558% 73.837%,91.929% 67.167%,96.186% 60.744%,98.99% 54.908%,100% 50%,100% 50%,98.99% 45.091%,96.186% 39.255%,91.929% 32.832%,86.558% 26.162%,80.415% 19.585%,73.838% 13.441%,67.168% 8.071%,60.744% 3.814%,54.908% 1.01%,50% 0%,42.208% 78.591%,42.208% 78.591%);
}

.active {
  background: #836ef9; 
  color: #F7EDE8;
}